server:
  port: 8081

management:
  metrics:
    export:
     prometheus:
      enabled: true

  endpoints:
    web:
      exposure:
        include: prometheus, health

spring:
  liquibase:
    enabled: true
    change-log: classpath:/dbchangelog/db.changelog-master.xml

  jpa:
    hibernate:
      ddl-auto: none

logging:
  level:
   ru.yusdm.jdbcvsr2dbc: INFO
   root: WARN